<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MediaManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <MediaManager.Properties.Settings>
            <setting name="ovpnBinaryDir" serializeAs="String">
                <value />
            </setting>
            <setting name="ovpnConfigDir" serializeAs="String">
                <value />
            </setting>
            <setting name="ovpnDefConfig" serializeAs="String">
                <value />
            </setting>
            <setting name="SabBinaryPath" serializeAs="String">
                <value />
            </setting>
            <setting name="vpnAutoKill" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="vpnAutoReconnect" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="vpnUserName" serializeAs="String">
                <value />
            </setting>
            <setting name="vpnPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="vpnConnectOnBoot" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="vpnConfig0" serializeAs="String">
                <value />
            </setting>
            <setting name="vpnConfigPriority0" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="vpnConfig1" serializeAs="String">
                <value />
            </setting>
            <setting name="vpnConfigPriority1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="vpnConfig2" serializeAs="String">
                <value />
            </setting>
            <setting name="vpnConfigPriority2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="storage0" serializeAs="String">
                <value />
            </setting>
            <setting name="storage1" serializeAs="String">
                <value />
            </setting>
            <setting name="storage2" serializeAs="String">
                <value />
            </setting>
            <setting name="loadWithWindows" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="sabAPI" serializeAs="String">
                <value />
            </setting>
            <setting name="sabIP" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="sabPort" serializeAs="String">
                <value>8080</value>
            </setting>
            <setting name="vpnGlobalLogin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="vpnConfig3" serializeAs="String">
                <value />
            </setting>
            <setting name="vpnConfigPriority3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="vpnConfig4" serializeAs="String">
                <value />
            </setting>
            <setting name="vpnConfigPriority4" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="vpnConfig5" serializeAs="String">
                <value />
            </setting>
            <setting name="vpnConfigPriority5" serializeAs="String">
                <value>0</value>
            </setting>
        </MediaManager.Properties.Settings>
    </userSettings>
</configuration>